// SCSS Variables
$active: #CDDC39;
$arrow-background: #3498db;
$bg-color: #e4e4e4;
$shadow-color: #373737;
$white: #ffffff;
$whitesmoke: whitesmoke;

// Styles Overrides
code {
  font-size: 10px;
}

// Styles for Datepicker
#nepali-datepicker {
  position: relative;

  #calendar {
    background-color: $bg-color;
    box-shadow: 0px 1px 3px $shadow-color;
    cursor: default;
    font-family: sans-serif;
    padding: 5px;
    position: absolute;
    width: 260px;
    z-index: 100000;
  }

  #mask {
    background: $shadow-color;
    background-color: transparent;
    color: $shadow-color;
    font-weight: bolder;
    height: 146px;
  	left: 3px;
    line-height: 165px;
  	opacity: 0.8;
    position: absolute;
  	text-align: center;
    top: 55px;
    width: 260px;
  }

  #head {
    background: rgba(147,206,222,1);
    background-color: transparent;
    width: 250px;

    select {
      background-color: transparent;
      outline: none;
    }
  }

  table.menu {
    width: 250px;
  }

  table.main {
    tr td {
      background: rgba(246,246,246,1);
      background-color: $white;
      font-size: 14px;
      height: 20px;
      margin: 0;
      padding-left: 3px;
      padding-right: 3px;
      width: 40px;
    }

    tbody tr td {
      border: 0.1px solid $bg-color;

      &:hover {
        background: #FFC107;
      }
    }

    thead tr td {
      background-color: $whitesmoke;
      border: 1px solid $shadow-color;
      font-size: 12px;
    }

    thead tr td.active {
      background-color: $whitesmoke;
    }
  }

  .arrow {
    background: $arrow-background;
    border-radius: 50%;
    color: $white;
    content: '';
    cursor: pointer;
    font-family: Arial;
    font-size: 10px;
    padding: 6px 7px;
    text-decoration: none;

    &:hover {
      background: #3cb0fd;
      text-decoration: inherit;
    }
  }

  .left,
  .right {
    margin: 5px 0;
  }

  .left {
    float:left;
    padding: 5px 9px 5px 7px;
  }

  .right {
    float: right;
    padding: 5px 6px 5px 9px;
  }

  .date {
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 144px;
  }

  .year,
  .month {
    border-style: none;
    font-size: 10px;
    margin-left: 5px;
    margin-top: 7px;
  }

  .en {
    color: $arrow-background;
    float: right;
    font-size: 8px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-top: 15px;
  }

  .np {
    float: left;
  }

  .day.active {
    background: $active;
  }
}
